@use "./variables" as *;
footer {
  margin: 2.5px 0 2.5px 0;
  .wrapper.wrapper-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $tertiaryColor;
    height: 79.67px;
  }
  .wrapper {
    h3 {
      margin-top: 2.5px;
      font-size: 16px;
      text-transform: lowercase;
    }
    p {
      text-transform: lowercase;
      font-size: 12px;
    }
    @media (min-width: 900px) {
      h3 {
        font-size: 20px;
        margin-top: 5px;
      }
      p {
        font-size: 16px;
      }
    }
  }
  @media (min-width: 900px) {
    margin: 5px 0 5px 0;
  }
}
