@use "./variables" as *;

header {
  margin: 40px 0 10px 0;
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $tertiaryColor;
    h1 a {
      color: $secondaryColor;
      text-transform: lowercase;
      margin-right: 10px;
      transition: color 0.35s;
      &:hover,
      &:focus {
        color: #ff0000;
      }
    }
  }
  img {
    height: 40px;
    width: 40px;
  }
}
