@use "./variables" as *;

main {
  .img-container {
    display: flex;
    flex-direction: column;
    h2 {
      padding-top: 2.5px;
      font-size: 20px;
      text-decoration: underline;
      text-transform: lowercase;
      color: #00f;
      transition: color 0.35s;
      @media (max-width: 900px) {
        padding-top: 5px;
      }
    }
    &:hover,
    &:focus {
      h2 {
        color: #ff0000;
      }
    }
    &:last-child {
      h2 {
        @media (max-width: 900px) {
          padding-bottom: 5px;
        }
      }
    }
  }
  // masonry overwrite
  div div {
    row-gap: 5px !important;
    @media (max-width: 900px) {
      column-gap: 5px !important;
      row-gap: 7.5px !important;
    }
  }
}
