@use "./variables" as *;

main {
  .img-container {
    display: flex;
    flex-direction: column;
    h2 {
      padding-top: 10px;
      font-size: 20px;
      text-decoration: underline;
      text-transform: lowercase;
      color: #00f;
      transition: color 0.35s;
    }
    &:hover,
    &:focus {
      h2 {
        color: #ff0000;
      }
    }
  }
}
