@use "./variables" as *;

.image-page {
  display: flex;
  flex-direction: column;
  h1 {
    margin: 0 0 10px 0;
    text-transform: lowercase;
    @media (max-width: 900px) {
      margin: 0 0 5px 0;
    }
  }
  img {
    max-width: 800px;
    height: auto;
    object-fit: cover;
    @media (min-width: 800px) {
      display: block;
      height: 600px;
      margin: 0 auto;
    }
  }
  @media (min-width: 800px) {
    &.portrait img {
      width: 450px !important;
    }
  }
  .date-description-container {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 5px 0;
    font-size: 19px;
    @media (max-width: 900px) {
      margin: 5px 0 2.5px 0;
    }
    button {
      font-family: $primaryFont;
      text-decoration: underline;
      color: #00f;
      text-transform: lowercase;
      &:hover,
      &:focus {
        color: #ff0000;
      }
    }
  }
}
