@font-face {
  font-family: "Lores";
  src: url("./assets/lores.ttf") format("truetype"); // Correct format
}

$primaryFont: "Lores";
$secondaryFont: "Roboto";

$primaryColor: #272727;
$secondaryColor: #f4f4f4;
$tertiaryColor: #34358d;
